

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
}

/* shared style */
.display-flex{
    display: flex;
}
/* dark 02 */
.tex-gray{
    color: #424242;
}
/* dark-03 */
.tex-gray-light{
    color: #727272;
}


.brand{
    font-weight: 700;
    font-size: 2.5rem;

}

.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}

.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
.text-primary{
    color: #FF900E;
}

.btn-primary{
    background-color: #FF900E;
    color: white;
    padding: 21px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 6px;
    width: 180px;
    height: 64px;
    border: none;
}

main{
    max-width: 1440px;
    margin: 0 auto;
}

main > section{
    margin-top: 130px;
}
.section-title{
    font-size: 2.8em;
    font-family: 700;
}




/* header style */


/* navbar  related style */

.navbar{
    justify-content: space-between;
    align-items: center;
}

.nav-item{
    list-style: none;
    margin-right: 30px;

}

.nav-link{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: #424242;
}

/* banner related style */

.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-title{
    font-weight: 700;
    font-size: 4rem;
}
.banner-image{
    width: 100%;

}

/* team and future related style */
.teams{
    align-items: center;
}

.teams-images-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}

.our-future{
    margin-left: 73px;
    max-width: 530px;
}


#Quick-list{
    font-weight: 500;
}
/* some fact related style */
.facts-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.fact-card{
    border: 1px solid #FF900E;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}

.fact-mane{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
}

.fact-description{
    max-width: 540px;
}

/* responsive media query */

@media screen and (max-width:576px) {
    .navbar,
     .nav-link,
     .teams{
        flex-direction: column;
    }
    
    .teams-images-container{
        grid-template-columns: repeat(1,1fr);
    }

    .our-future{
        margin: 0 auto;
        text-align: center;
    }
}


/* medium device */
@media screen and (min-width:576px) and (max-width:992px) {

    .teams{
        flex-direction: column;
        text-align: center;
    }
}